@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    /* Light Theme Colors */
    --background: hsl(210, 36%, 96%);
    --foreground: hsl(222, 13%, 15%);
    --primary: hsl(258, 60%, 55%);
    --primary-foreground: hsl(0, 0%, 100%);
    --accent: hsl(208, 90%, 50%);
    --accent-foreground: hsl(0, 0%, 100%);
    --muted: hsl(210, 20%, 90%);
    --muted-foreground: hsl(222, 13%, 25%);
    --border: hsl(210, 25%, 86%);
    --radius: 0.75rem;
  }

  .dark {
    /* Dark Theme Colors */
    --background: hsl(222, 13%, 12%);
    --foreground: hsl(210, 36%, 96%);
    --primary: hsl(48, 100%, 50%);
    --primary-foreground: hsl(222, 13%, 12%);
    --accent: hsl(193, 90%, 50%);
    --accent-foreground: hsl(222, 13%, 12%);
    --muted: hsl(222, 13%, 20%);
    --muted-foreground: hsl(210, 36%, 80%);
    --border: hsl(222, 13%, 18%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground transition-colors duration-500;
  }
}
